/*global variables*/
:root {
    --bg: rgb(153, 153, 202);
    --bg2: rgb(140, 177, 245);

}

* {
    margin: 0;
    padding: 0;
}

/*header*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    background-image: linear-gradient(90deg, var(--bg), 75%, var(--bg2));
    width: 100%;
    margin-bottom: 3em;
}

h1 {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: purple;
}

#highScores {
    margin-left: 10px;
}

#timer {
    margin-right: 10px;
}

/*main*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div {
    display: flexs;
    flex: 0 0 88%;
}